settings.json
a.out
tempCodeRunnerFile.c
tempCodeRunnerFile.c++
a.out.dSYM
main.dSYM
string1-2.dSYM
string1-2.out.dSYM
code.c
code.c++
.DS_Store
build-assignment1-Qt_6_4_2_for_macOS-Debug
build-helloworld-Qt_6_4_2_for_macOS-Debug
.vs
.vscode